@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 style="font-weight: 600; font-size: 1.5rem;"> </h2>
    <div class="d-flex gap-2">
        <span class="fw-medium small">@DateTime.Now.ToString("dddd, dd MMMM yyyy")</span>
    </div>
</div>